In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Heart.csv")

In [3]:
data.head(4).T

                  0             1             2           3
Unnamed: 0        1             2             3           4
Age              63            67            67          37
Sex               1             1             1           1
ChestPain   typical  asymptomatic  asymptomatic  nonanginal
RestBP          145           160           120         130
Chol            233           286           229         250
Fbs               1             0             0           0
RestECG           2             2             2           0
MaxHR           150           108           129         187
ExAng             0             1             1           0
Oldpeak         2.3           1.5           2.6         3.5
Slope             3             2             2           3
Ca                0             3             2           0
Thal          fixed        normal    reversable      normal
AHD              No           Yes           Yes          No

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
Unnamed: 0    303 non-null int64
Age           303 non-null int64
Sex           303 non-null int64
ChestPain     303 non-null object
RestBP        303 non-null int64
Chol          303 non-null int64
Fbs           303 non-null int64
RestECG       303 non-null int64
MaxHR         303 non-null int64
ExAng         303 non-null int64
Oldpeak       303 non-null float64
Slope         303 non-null int64
Ca            299 non-null float64
Thal          301 non-null object
AHD           303 non-null object
dtypes: float64(2), int64(10), object(3)
memory usage: 35.6+ KB

# Question1: Predict AHD using 
1. Decision Trees
2. Bagging
3. AdaBoost
4. GradientBoost
5. RandomForest

# Question2: Improve the accuracy by playing with hyper parameters of Ensemble methods

In [5]:
data.describe().transpose()

            count        mean        std    min    25%    50%    75%    max
Unnamed: 0  303.0  152.000000  87.612784    1.0   76.5  152.0  227.5  303.0
Age         303.0   54.438944   9.038662   29.0   48.0   56.0   61.0   77.0
Sex         303.0    0.679868   0.467299    0.0    0.0    1.0    1.0    1.0
RestBP      303.0  131.689769  17.599748   94.0  120.0  130.0  140.0  200.0
Chol        303.0  246.693069  51.776918  126.0  211.0  241.0  275.0  564.0
Fbs         303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
RestECG     303.0    0.990099   0.994971    0.0    0.0    1.0    2.0    2.0
MaxHR       303.0  149.607261  22.875003   71.0  133.5  153.0  166.0  202.0
ExAng       303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
Oldpeak     303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
Slope       303.0    1.600660   0.616226    1.0    1.0    2.0    2.0    3.0
Ca          299.0    0.672241   0.937438    0.0    0.0    0.0    1.0    3.0

In [7]:
data=data.drop('Unnamed: 0',axis=1).dropna()

In [8]:
data.describe().transpose()

         count        mean        std    min    25%    50%    75%    max
Age      297.0   54.542088   9.049736   29.0   48.0   56.0   61.0   77.0
Sex      297.0    0.676768   0.468500    0.0    0.0    1.0    1.0    1.0
RestBP   297.0  131.693603  17.762806   94.0  120.0  130.0  140.0  200.0
Chol     297.0  247.350168  51.997583  126.0  211.0  243.0  276.0  564.0
Fbs      297.0    0.144781   0.352474    0.0    0.0    0.0    0.0    1.0
RestECG  297.0    0.996633   0.994914    0.0    0.0    1.0    2.0    2.0
MaxHR    297.0  149.599327  22.941562   71.0  133.0  153.0  166.0  202.0
ExAng    297.0    0.326599   0.469761    0.0    0.0    0.0    1.0    1.0
Oldpeak  297.0    1.055556   1.166123    0.0    0.0    0.8    1.6    6.2
Slope    297.0    1.602694   0.618187    1.0    1.0    2.0    2.0    3.0
Ca       297.0    0.676768   0.938965    0.0    0.0    0.0    1.0    3.0

In [9]:
data.head()

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No

In [11]:
data.shape

(297, 14)

In [12]:
for f in data.columns:
    if data[f].dtype=='object':
        data[f]=pd.Categorical(data[f]).codes

In [13]:
train_set = data.head(197) # Up to the last initial training set row
test_set = data.tail(100)

In [14]:
train_labels = train_set.pop("AHD")
test_labels = test_set.pop("AHD")

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [21]:
dt_model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3,random_state=100,min_samples_leaf=10 )

In [22]:
dt_model.fit(train_set, train_labels)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [23]:
dt_model.score(train_set , train_labels)

0.8477157360406091

In [24]:
dt_model.score(test_set , test_labels)

0.71

In [25]:
#Regularising the Tree

In [26]:
dt_model = DecisionTreeClassifier(criterion = 'entropy',max_depth=3,random_state=100,min_samples_leaf=10 )

In [27]:
dt_model.fit(train_set, train_labels)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=3,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [28]:
dt_model.score(train_set , train_labels)

0.8477157360406091

In [29]:
dt_model.score(test_set , test_labels)

0.71

# Bagging

# AdaBoost

# Gradient Boosting

# Random Forest

# Fine tune Decision Trees, Bagging, AdaBoost, GradientBoosting and RadomForest