# Read Hitters.csv data

# Predict player salaries using
1. Decision trees
2. adaboost
3. Bagging
4. GradientBoost
5. RandomForest

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Hitters.csv")

In [3]:
data.head(5).T

,0,1,2,3,4
Unnamed: 0,-Andy Allanson,-Alan Ashby,-Alvin Davis,-Andre Dawson,-Andres Galarraga
AtBat,293,315,479,496,321
Hits,66,81,130,141,87
HmRun,1,7,18,20,10
Runs,30,24,66,65,39
RBI,29,38,72,78,42
Walks,14,39,76,37,30
Years,1,14,3,11,2
CAtBat,293,3449,1624,5628,396
CHits,66,835,457,1575,101
CHmRun,1,69,63,225,12
CRuns,30,321,224,828,48
CRBI,29,414,266,838,46
CWalks,14,375,263,354,33
League,A,N,A,N,N
Division,E,W,W,E,E
PutOuts,446,632,880,200,805
Assists,33,43,82,11,40
Errors,20,10,14,3,4
Salary,NaN,475,480,500,91.5
NewLeague,A,N,A,N,N

In [4]:
data.head(2)

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,30,29,14,A,E,446,33,20,NaN,A
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,321,414,375,N,W,632,43,10,475.0,N

In [5]:
data.drop("Unnamed: 0", axis=1, inplace=True)

In [6]:
data.head(2)

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 322 entries, 0 to 321
Data columns (total 20 columns):
AtBat        322 non-null int64
Hits         322 non-null int64
HmRun        322 non-null int64
Runs         322 non-null int64
RBI          322 non-null int64
Walks        322 non-null int64
Years        322 non-null int64
CAtBat       322 non-null int64
CHits        322 non-null int64
CHmRun       322 non-null int64
CRuns        322 non-null int64
CRBI         322 non-null int64
CWalks       322 non-null int64
League       322 non-null object
Division     322 non-null object
PutOuts      322 non-null int64
Assists      322 non-null int64
Errors       322 non-null int64
Salary       263 non-null float64
NewLeague    322 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 50.4+ KB

In [9]:
data.dropna(axis=0, inplace=True); data.dropna(axis=1, inplace=True);

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 1 to 321
Data columns (total 20 columns):
AtBat        263 non-null int64
Hits         263 non-null int64
HmRun        263 non-null int64
Runs         263 non-null int64
RBI          263 non-null int64
Walks        263 non-null int64
Years        263 non-null int64
CAtBat       263 non-null int64
CHits        263 non-null int64
CHmRun       263 non-null int64
CRuns        263 non-null int64
CRBI         263 non-null int64
CWalks       263 non-null int64
League       263 non-null object
Division     263 non-null object
PutOuts      263 non-null int64
Assists      263 non-null int64
Errors       263 non-null int64
Salary       263 non-null float64
NewLeague    263 non-null object
dtypes: float64(1), int64(16), object(3)
memory usage: 43.1+ KB

In [12]:
for f in data.columns:
    if data[f].dtype=='object':
        data[f]=pd.Categorical(data[f]).codes

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 1 to 321
Data columns (total 20 columns):
AtBat        263 non-null int64
Hits         263 non-null int64
HmRun        263 non-null int64
Runs         263 non-null int64
RBI          263 non-null int64
Walks        263 non-null int64
Years        263 non-null int64
CAtBat       263 non-null int64
CHits        263 non-null int64
CHmRun       263 non-null int64
CRuns        263 non-null int64
CRBI         263 non-null int64
CWalks       263 non-null int64
League       263 non-null int8
Division     263 non-null int8
PutOuts      263 non-null int64
Assists      263 non-null int64
Errors       263 non-null int64
Salary       263 non-null float64
NewLeague    263 non-null int8
dtypes: float64(1), int64(16), int8(3)
memory usage: 37.8 KB

In [14]:
data.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,1,1,632,43,10,475.0,1
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,0,1,880,82,14,480.0,0
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,1,0,200,11,3,500.0,1
4,321,87,10,39,42,30,2,396,101,12,48,46,33,1,0,805,40,4,91.5,1
5,594,169,4,74,51,35,11,4408,1133,19,501,336,194,0,1,282,421,25,750.0,0

In [15]:
from sklearn.cross_validation import train_test_split

/usr/local/anaconda/python3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [19]:
x = data.drop("Salary", axis=1)

In [20]:
y = data[["Salary"]]

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=123)

In [22]:
from sklearn.tree import DecisionTreeRegressor

In [26]:
dt_model = DecisionTreeRegressor()

In [27]:
dt_model.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [32]:
salaryPredictionsTrain = dt_model.predict(x_train)

In [33]:
from sklearn import metrics

In [34]:
np.sqrt(metrics.mean_squared_error(salaryPredictionsTrain, y_train))

0.0

In [35]:
salaryPredictionsTest = dt_model.predict(x_test)

In [37]:
rmse = np.sqrt(metrics.mean_squared_error(salaryPredictionsTest, y_test))

In [39]:
rmse/np.mean(y_test)*100

Salary    63.688527
dtype: float64

In [45]:
from sklearn.ensemble import BaggingRegressor
bgModel = BaggingRegressor()
bgModel.fit(x_train, y_train)
salaryPredictionsTrain = bgModel.predict(x_train)
salaryPredictionsTest = bgModel.predict(x_test)
rmse = np.sqrt(metrics.mean_squared_error(salaryPredictionsTest, y_test))
rmse/np.mean(y_test)*100

/usr/local/anaconda/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Salary    55.374621
dtype: float64

In [46]:
from sklearn.ensemble import AdaBoostRegressor
bgModel = AdaBoostRegressor()
bgModel.fit(x_train, y_train)
salaryPredictionsTrain = bgModel.predict(x_train)
salaryPredictionsTest = bgModel.predict(x_test)
rmse = np.sqrt(metrics.mean_squared_error(salaryPredictionsTest, y_test))
rmse/np.mean(y_test)*100

/usr/local/anaconda/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Salary    58.365297
dtype: float64

In [47]:
from sklearn.ensemble import GradientBoostingRegressor
bgModel = GradientBoostingRegressor()
bgModel.fit(x_train, y_train)
salaryPredictionsTrain = bgModel.predict(x_train)
salaryPredictionsTest = bgModel.predict(x_test)
rmse = np.sqrt(metrics.mean_squared_error(salaryPredictionsTest, y_test))
rmse/np.mean(y_test)*100

/usr/local/anaconda/python3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Salary    56.568841
dtype: float64

In [48]:
from sklearn.ensemble import RandomForestRegressor
bgModel = RandomForestRegressor()
bgModel.fit(x_train, y_train)
salaryPredictionsTrain = bgModel.predict(x_train)
salaryPredictionsTest = bgModel.predict(x_test)
rmse = np.sqrt(metrics.mean_squared_error(salaryPredictionsTest, y_test))
rmse/np.mean(y_test)*100

/usr/local/anaconda/python3/lib/python3.6/site-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

Salary    51.840876
dtype: float64