In [1]:
import numpy as np
import pandas as pd

In [2]:
# MAPE implemented in latest versions of SKLearn!
# Not yet in Colab!
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.9/site-packages (1.0.2)
Collecting scikit-learn
  Downloading scikit_learn-1.4.0-1-cp39-cp39-macosx_10_9_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.19.5 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (1.9.1)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.9/site-packages (from scikit-learn) (2.2.0)
Downloading scikit_learn-1.4.0-1-cp39-cp39-macosx_10_9_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 8.3 MB/s eta 0:00:0000:0100:01
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.2/302.2 kB 9.1 MB/s eta 0:00:00
Installing collected packages: joblib, scikit-learn
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.0.2
    Uninstalling scikit-learn-1.0.2:
      Successfully uninstalled scikit-learn-1.0.2
Successfully installed joblib-1.3.2 scikit-learn-1.4.0

In [3]:
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error

In [ ]:
!wget -nc https://lazyprogrammer.me/course_files/SPY.csv

--2021-05-23 23:34:15--  https://lazyprogrammer.me/course_files/SPY.csv
Resolving lazyprogrammer.me (lazyprogrammer.me)... 172.67.213.166, 104.21.23.210, 2606:4700:3031::6815:17d2, ...
Connecting to lazyprogrammer.me (lazyprogrammer.me)|172.67.213.166|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 251935 (246K) [text/csv]
Saving to: ‘SPY.csv’

SPY.csv             100%[===================>] 246.03K   473KB/s    in 0.5s

2021-05-23 23:34:17 (473 KB/s) - ‘SPY.csv’ saved [251935/251935]

In [4]:
df = pd.read_csv('/Users/gopinathvangari/Work/Career/Mission AI/Time Series Analysis/Data/SPY.csv', index_col='Date', parse_dates=True)

In [5]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [6]:
df['ClosePrediction'] = df['Close'].shift(1)

In [7]:
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [8]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

## Metrics

Main idea: get a feel for how the values relate to one another. What's "good"? What's "bad"? If the $R^2$ is "good", will the MAE also be "good"?

In [9]:
# SSE
(y_true - y_pred).dot(y_true - y_pred)

6330.374289492605

In [10]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [11]:
# MSE again
# Don't be afraid to implement things yourself!
# It should be easy (and good exercise for your brain)
(y_true - y_pred).dot(y_true - y_pred) / len(y_true)

2.798573956451196

In [12]:
# RMSE
mean_squared_error(y_true, y_pred, squared=False)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/metrics/_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

1.672893886787562

In [13]:
# RMSE again
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_true))

1.672893886787562

In [14]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [15]:
# R^2
# Wow, what a great prediction!
# Why is it so good? Be suspicious...
r2_score(y_true, y_pred)

0.9989603259063914

In [16]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

## sMAPE

$$ E = \frac{1}{N} \sum_{i=1}^N \frac{|y_i - \hat{y}_i|}{(|y_i| + |\hat{y}_i|)/2} $$

In [ ]:
# sMAPE
# Not implemented, oh well...
# Good thing we are brave and know how to implement things!
def smape(y_true, y_pred):
  numerator = np.abs(y_true - y_pred)
  denominator = (np.abs(y_true) + np.abs(y_pred)) / 2
  ratio = numerator / denominator
  return ratio.mean()

smape(y_true, y_pred)

0.006491365814068423